/* small screen */
.containerFruits {
    margin: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-image {
    min-width: 100%;
    height: auto;
    border-radius: 15px;
}

.form-title {
    color: #4361ee;
    font-size: 2rem;
}

.form-inputgroup {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin: 1rem auto;
}

.form-input {
    color: #000000;
    outline-color: #64748b;
    border-color: #43c6ee;
    border-radius: 5px;
    box-sizing: border-box;
    widows: 100%;
    height: 2rem;
}

.form-label {
    color: #647488;
    margin-top: 0.1rem;
}

.form-button {
    background-color: #43c6ee;
    border: none;
    color: #fff;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}

.form-button:hover {
    background-color: #1589d6;
}

/* medium screen */
@media screen and (min-width: 768px) {
    .form-left {
        text-align: center;
        margin: 3rem auto;
    }
}

/* large screen */
@media screen and (min-width: 992px) {
    .containerFruits {
        max-width: 1000px;
        margin: 3rem auto;
    }

    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 10rem;
    }

    .form-input {
        width: 320px;
    }

    .form-left {
        flex-basis: auto;
    }
}